<%= render "navbar" %>

<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">작성시간</th>
        </tr>
      </thead>
      <tbody>
        
          <% @post.each do |p| %>
            <tr>
              <th scope="row"><%= p.id %></th>
              <td><a href="/post/show/<#%= p.id %>"><%= p.title %></a></td>
              <td><%= p.user.username %></td>
              <td><%= p.created_at %></td>
            </tr>
       <% end %>
       
      </tbody>
    </table>
    <a href="/post/new">
        <button type="button" class="btn btn-light">글쓰기</button>
    </a>
    
    
    
    
<% @post.each do |p| %>  
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="http://img.vogue.co.kr/vogue/2018/01/style_5a55dc28c936c.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a href="/post/show/<#%= p.id %>"><%= p.title %></a></h5>
          <p class="card-text"><%= p.id %></p>
          <a href="#" class="btn btn-primary"><%= p.user.username %></a>
          <div><%= p.created_at %></div>
        </div>
    </div>
    
<% end %>    

<div id="enters"></div>
</div>


<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous">
  
</script>
  
  
<script>
  var count=4;
  var stringTemp="";

  function call(){
    $.ajax({
        type:"get",
        url:"./post/ajaxCall",
        data : {'count' : count}, 
        dataType : "json",
        success: function(data){
            //
            alert(data["title"])
        },
        error: function(error) {
            alert(error);
        }  
    });
}

  var page = 1;

  $(window).scroll(function() {
    if ( $(document).height() > $(window).height()) {
      // console.log(++page);
      // $("#enters").append("<h1>Page " + page );
      call();
      
    }
  });
</script>



<!--------------------------------------------------------------------------------->
<!--<button onclick="hi_1()">hi</button>-->
<!--<button onclick="hi_2('시준','하하')">hi</button>-->

<!--<input id="idv_1"></input>-->
<!--<button onclick="add_1()">+</button>-->
<!--<input id="idv_2"></input>-->
<!--=-->
<!--<input id=""idr_1></input>-->

<!--<script>-->
<!--  function hi_1(){-->
<!--    var A="hi";-->
    
<!--    alert(A);-->
<!--  }-->
<!--  function hi_2(_value,tomato){-->
<!--    alert(_value+"Hi"+tomato);-->
<!--  }-->
  
<!--  function add_1(){-->
<!--    var A=document.getElementById("idv_1").value;-->
<!--    var B=document.getElementById("idv_2").value;-->
<!--    var C=Number(A) + Number(B);-->
   
<!--    document.getElementById("idr_1").value=C;-->
    
<!--  }-->
<!--</script>-->
<!------------------------------------------------------->
<!--<span>1</span>-->
<!--<button onclick="add_2(<#%= 1 %>,<#%= 2 %>)">+</button>-->
<!--<span>2</span>-->
<!--=-->
<!--<input id="idr_2"></input>-->

<!--<script>-->
<!--  function add_2(_value1, _value2){-->
<!--    document.getElementById("idr_2").value=(_value1+_value2);-->
<!--  }-->
  
<!--</script>-->
<!------------------------------------------------------------------------>

